<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Simple JsChat Server
        </title>
    </head>
    <body>
        <h1>User Registry Page</h1>
        <div>
            <span>
                <h2>Sign Up</h2>
            </span>
            <form id="form" action="http://localhost:8080/registry" method="post">
                <div>
                    <input type="text" id="fullname" name="fullname" value="" placeholder="Full name">
                </div>
                <div>
                    <input type="text" id="account" name="account" value="" placeholder="Account">
                </div>
                <div>
                    <input type="password" id="password" name="password" value="" placeholder="Password">
                </div>
                <div>
                    <input type="date" id="birth" name="birth" value="" placeholder="Birth">
                </div>
                <div>
                    <button>Registry</button>
                </div>
            </form>
        </div>
        <a href="http://localhost:8080/login">Already have an account</a>
    </body>
</html>
